body {
    font:normal 12px/20px 'Georgia';
    color:#222;
    margin:0;
}

.wrap {
    width:1000px;
    margin:0px auto;
    position:relative;
}

.starter {
    position:absolute;
    top:50%;
    left:50%;
    width:180px;
    height:30px;
    padding:10px;
    text-align:center;
    margin-top:-25px;
    margin-left:-100px;
    font-size:40px;
    background:#fff;
    padding:5px;
}

.controls {
    position:absolute;
    right:0;
    top:0;
    height:40px;
}

#music {
    position:absolute;
    right:0;
    top:40px;
}

g.note rect {
    cursor:pointer;
    fill:#ccc;
}
g.note rect.in-key {
    fill:#bbb;
}
g.note.playing rect {
    fill:#aaa;
}
g.note rect.on {
    fill:#E0518A;
}
g.note.isbar rect {
    stroke-width:1;
    stroke:#eee;
}

g.note text {
    font-family:'Helvetica Neue';
    font-size:10px;
    fill:#aaa;
    display:none;
    pointer-events:none;
}

g.note:hover text {
    display:block;
}

g.timeline rect {
    fill:#eee;
}

rect.sep {
    fill:#aaaaaa;
}

g.cue rect {
  fill:#888;
}

.icon-heart {
    color:#E0518A;
}

button {
    border:0;
    cursor:pointer;
    font-size:15px;
    width:30px;
    height:30px;
    font-weight:normal;
    color:#e0518a;
    background:#fff;
}
button:hover {
    color:#000;
}
input[type=text] {
    border:0;
    background:#eee;
    font:normal 12px/20px 'Georgia';
    padding:0 5px;
}
* {
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -webkit-touch-callout:none;
}
