body {
    font:normal 12px/20px 'Georgia';
    color:#222;
    margin:0;
    border-top:2px solid #E0518A;
}
.wrap {
    width:800px;
    margin:50px auto;
}
h1 small {
    font-weight:normal;
    font-size:12px;
}
g.note rect {
    fill:#ccc;
}
g.note.playing rect {
    fill:#aaa;
}
g.note rect.on {
    fill:#E0518A;
}
g.note.isbar rect {
    stroke-width:1;
    stroke:#eee;
}
.icon-heart {
    color:#E0518A;
}
button {
    border:0;
    cursor:pointer;
    font-size:15px;
    width:30px;
    height:30px;
    font-weight:normal;
    color:#e0518a;
    background:#fff;
}
button:hover {
    color:#000;
}
input[type=text] {
    border:0;
    background:#eee;
    font:normal 12px/20px 'Georgia';
    padding:0 5px;
}
